<div class="table-responsive">
	<table class="table table-hover">
		<tr>
	    	<th ng-repeat="campo in tableLabels">
		    	{{campo.exibicao}}
	    	</th>
	    	<th ng-if="showButtons">Ações</th>
	  	</tr>
		<tr ng-repeat="data in tableData">
	    	<td ng-repeat="campo in tableLabels">
	    		<div ng-if="campo.type === 'String' || campo.type === 'Integer' || campo.type.substring(0, 4) == 'Enum' ">
			    	{{getField(data, campo.nome)}}
	    		</div>
	    		<div ng-if="campo.type === 'Date' ">
		    		{{getField(data, campo.nome) | date : 'dd/MM/yyyy'}}
	    		</div>
	    		<div ng-if="campo.type === 'Conditional' ">
		    		{{evaluate(data, campo.nome)}}
	    		</div>
	    		<div ng-if="campo.type === 'CentroCusto' ">
		    		{{data.nomeCentroCusto}}
	    		</div>
	    		<div ng-if="campo.type === 'URL' ">
		    		<a ng-href="{{data[campo.nome]}}">{{data[campo.nome]}}</a>
	    		</div>
	    	</td>
	    	<td ng-if="showButtons">
				<div class="btn-group">
					<button type="button" ng-if="showButton(data, showView)" class="btn btn-default tip" data-toggle="tooltip" title="Visualizar" data-original-title="Visualizar" ui-jq="tooltip" ng-click="read({'data' : data})"><i class="fa fa-eye"></i>
					</button>
					<button type="button" ng-if="showButton(data, showEdit)" class="btn btn-default" data-toggle="tooltip" title="Editar" data-original-title="Editar" ui-jq="tooltip" ng-click="update({'data' : data})"><i class="fa fa-pencil"></i>
					</button>
					<button type="button" ng-if="showButton(data, showRemove)" class="btn btn-default" data-toggle="tooltip" title="Remover" data-original-title="Remover" ui-jq="tooltip" ng-click="remove({'data' : data})"><i class="fa fa-trash-o"></i>
					</button>
				</div>
			</td>
		</tr>
	</table>
</div>