<div class="container-fluid" ng-controller="CentroDeCustoController">
	<h1>Centros de Custo</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
            <div class="pull-right">
                <button id="createBtn" class="btn btn-primary btn-cons" data-toggle="modal" data-target="#centro-de-custo-modal" ng-click="modalAdd(null, 'CREATE')">
                    <i class="fa fa-plus"></i> Criar
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <centro-de-custo-componente mode="'EDITION'"></centro-de-custo-componente>
        </div>
    </div>
	<centro-de-custo-modal></centro-de-custo-modal>
</div>
