<div class="container-fluid" ng-controller="ForumController">
    <h1>Fórum</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
            <div class="pull-right">
                <div class="col-xs-6">
                    <button id="createBtn" class="btn btn-primary btn-cons" data-toggle="modal" data-target="#forum-modal" ng-click="modalAdd()"><i class="fa fa-plus"></i> Novo Tópico</button>
                </div>
            </div>
            <div class="m-t-15">
            	<div>
            		<label for="buscar">Buscar:</label>
	               	<input style="width: 100px" id="texto" name="texto" type="text" ng-model="texto"/>
            		<button class="btn btn-primary" ng-click="buscar(texto)">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
            	</div>
				<button class="btn btn-default margin-top float-right" ng-click="todos()">
	        		Todos
	    		</button>
	    		<button class="btn btn-default margin-top float-right" ng-click="seguindo()">
	        		Seguindo
	    		</button>
			</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Tópico</th>
                    <th>Criador</th>
                    <th>Fixar</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="topic in topics">
                    <td>{{topic.titulo}}</td>
                    <td>{{topic.criador.nome}} {{topic.criador.sobrenome}}</td>
                    <td ng-if="!topic.fixado && isAdministrador()">
                        <button class="btn btn-default" aria-label="Left Align" ng-click="fixarTopico(topic.id)">
                            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td ng-if="topic.fixado && isAdministrador()">
                        <button class="btn btn-default" aria-label="Left Align" ng-click="desafixarTopico(topic.id)">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td ng-if="topic.fixado && !isAdministrador()">
                    	<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    </td>
                    <td ng-if="!topic.fixado && !isAdministrador()">
                    </td>
                    <td>
                        <button class="btn btn-default" aria-label="Left Align" ui-sref="commons.topico({id:topic.id})">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="excluirTopico(topic)" ng-if="proprio(topic) || isAdministrador()" title="Remover">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="topics.length > 0">
			<botoes-paginacao></botoes-paginacao>
        </div>
    </div>
</div>
<forum-modal mode="'CREATION'"></forum-modal>
