<div class="container-fluid"
	ng-controller="PendenciaAtividadeController">
	<h1>Pendência de Atividade</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<label for="atividade">Atividade:</label> <input id="atividade"
					ng-readonly="true" name="atividade" type="text"
					class="form-control" ng-model="pendencia.nomeAtividade" />
			</div>
		</div>
		<div class="panel-body">
			<div>
				<label for="motivo">Motivo:</label> <input id="motivo" name="motivo"
					ng-readonly="true" type="text" class="form-control"
					ng-model="pendencia.motivoCompleto" />
			</div>
			<div>
				<label for="data">Data:</label> <input id="motivo" name="data"
					ng-readonly="true" type="text" class="form-control"
					value="{{pendencia.apontamentoAtividade.data | date : 'dd/MM/yyyy'}}" />
			</div>
			<div>
				<label for="justificativa">Justificativa:</label> <input
					id="justificativa" name="justificativa" ng-readonly="true"
					type="text" class="form-control"
					ng-model="pendencia.apontamentoAtividade.comentario" />
			</div>
			<div ng-if="!pendencia.usuario">Pendência Ainda não aprovada.</div>
			<div ng-if="pendencia.usuario">
				<label for="usuario">Aprovada Por:</label> <input id="usuario"
					name="usuario" ng-readonly="true" type="text" class="form-control"
					ng-model="pendencia.usuario.nome" />
			</div>
			<div ng-if="pendencia.usuario">
				<label for="dataVisualizacao">Data da Aprovação:</label> <input
					id="dataVisualizacao" name="dataVisualizacao" ng-readonly="true"
					type="text" class="form-control"
					value="{{pendencia.dataVisualizacao | date : 'dd/MM/yyyy'}}" />
			</div>
			<div ng-if="pendencia.usuario">
				<label for="comentario">Comentário da Aprovação:</label><br>
				<textarea id="comentario" ng-readonly="true" name="comentario"
					ng-model="pendencia.comentario" class="form-control"></textarea>
			</div>
			<br>
		</div>
		<div class="panel-footer">
            <button class="btn btn-default" ng-click="voltar()">
				Voltar
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>	
        </div>
	</div>
</div>