<div class="container-fluid" ng-controller="ProjectCreationController">
	<h1>Criar Projeto</h1>
	<div class="container-fluid container-fixed-lg bg-white p-b-20">
	<form name="projetoForm" novalidate valdr-type="Projeto">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-if="invalidMessage !== ''">{{invalidMessage}}</div>
	    </div>
	    <br>
		<div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h1 class="panel-title">Dados Básicos</h1>
			</div>
			<div class="panel-body">
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label for="project-name">Projeto</label>
						<input id="project-name" name="nome" type="text" class="form-control" ng-model="project.nome" ng-disabled="mode === 'UPDATE' && project.iniciado"/>
					</div>
				</div>
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label for="project-surname">Descrição</label>
						<textarea id="project-surname" name="descricao" class="form-control" ng-model="project.descricao" ng-disabled="mode === 'UPDATE' && project.iniciado"></textarea>
					</div>
				</div>
				
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label for="project-tipo">Tipo de Projeto</label>
						<select class="form-control" id="project-tipo" name="tipo" ng-model="project.tipo.id" ng-options="t.id as t.nome for t in tiposDeProjetoDisponiveis"  ng-disabled="mode === 'UPDATE' && project.iniciado">
							<option value="">Selecione um tipo</option>
						</select>
					</div>
				</div>
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label for="project-centro-de-custo">Centro de custo</label>
						<input id="project-centro-de-custo" type="text" id="centroDeCusto" name="centroDeCusto" class="form-control" value="{{project.centroCusto.exibicao}} : {{project.centroCusto.descricao}}" disabled="true">
						<div class="col-md-12"  ng-if="!project.iniciado">
							<centro-de-custo-componente mode="'SELECTION'"></centro-de-custo-componente>
						</div>
					</div>
				</div>
	
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label for="inicioAlocacao">Data Início Alocação</label>
						<p class="input-group">
						  <input id="inicioAlocacao" name="inicioAlocacao" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="project.inicioAlocacao" is-open="openedDataInicio" close-text="Close"  ng-disabled="mode === 'UPDATE' && project.iniciado"/>
						  <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openDataInicio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
						</p>
					</div>
					<div class="col-md-4">
						<label for="fimAlocacao">Data Fim Alocação</label>
						<p class="input-group">
						  <input id="fimAlocacao" name="fimAlocacao" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="project.fimAlocacao" is-open="openedDataFim" close-text="Close"/>
						  <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openDataFim($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
						</p>
	            	</div>
					<div class="col-md-4" valdr-form-group>
						<label for="project-name">Quantidade de horas</label>
						<input name="totalHoras" type="text" class="form-control" ng-model="project.totalHoras" ng-disabled="mode === 'UPDATE' && project.iniciado"/>
					</div>
				</div>
				<div class="form-group m-t-25 col-md-12 p-l-0">
					<div class="col-md-4">
						<label for="project-PMO">PMO do Projeto</label><br>
						<div ng-if="isAdministrador()">
							<select class="form-control" id="project-PMO" name="pmo" ng-model="project.pmo.id" ng-options="PMO.id as PMO.email for PMO in PMOsDisponiveis" ng-disabled="!project.editavel">
								<option value="">Selecione um PMO</option>
							</select>
						</div>
						<div ng-if="!isAdministrador() && isPMO()">
							<input id="project-name" name="pmo" type="text" class="form-control" ng-model="project.pmo.email" disabled="true"/>
						</div>
						
					</div>
					<!--<input type="text" class="form-control" style="width: 241px; display: inline-block;" ng-model="project.PMO.nome" disabled="true"/><br> -->
				</div>
			</div>
		</div>
 		
 		<div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h1 class="panel-title">Alocações</h1>
			</div>
			<div class="panel-body">
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-4">
						<label>Adicionar recurso</label><br>
						<select class="form-control" name="recursoSelecionado" ng-model="recursoSelecionado" ng-options="r as r.email for r in recursosDisponiveis">
							<option value="">Selecione um recurso</option>
						</select>
					</div>
					<div class="col-md-3 input-group pull-left m-r-5">
						<label>Data Início</label>
						  <input type="text" name="dataInicioAlocacaoRecurso" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dataInicioAlocacaoRecurso" is-open="openedDataInicioRecurso" close-text="Close"/>
						  <span class="input-group-btn p-t-25">
							<button type="button" class="btn btn-default" ng-click="openDataInicioRecurso($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
					</div>
					<div class="col-md-3 input-group pull-left m-r-5">
						<label>Data Fim</label>
						  <input type="text" name="dataFimAlocacaoRecurso" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dataFimAlocacaoRecurso"   is-open="openedDataFimRecurso" close-text="Close"/>
						  <span class="input-group-btn p-t-25">
							<button type="button" class="btn btn-default" ng-click="openDataFimRecurso($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
					</div>
					<div class="col-md-1 p-t-25">
						<button class="btn btn-default btn-xs" ng-click="adicionarRecurso()">Adicionar</button>
					</div>
				</div>
				<div class="form-group m-t-25 col-md-12" valdr-form-group>
					<table class="table table-condensed">
						<tr>
							<th>Nome</th>
							<th>Sobrenome</th>
							<th>E-mail</th>
							<th>Início Alocação</th>
							<th>Fim Alocação</th>
							<th>Remover</th>
						</tr>
						<tr ng-repeat="a in project.alocacoes">
							<td class="assignment-table">{{a.colaborador.nome}}</td>
							<td class="assignment-table">{{a.colaborador.sobrenome}}</td>
							<td class="assignment-table">{{a.colaborador.email}}</td>
							<td class="assignment-table">{{a.dataInicioAlocacao | date : 'dd/MM/yyyy'}}</td>
							<td class="assignment-table">{{a.dataFimAlocacao | date : 'dd/MM/yyyy'}}</td>
							<td class="assignment-table">
								<button class="btn btn-danger" ng-click="removerRecurso(a)" ng-disabled="mode === 'UPDATE' && project.iniciado && a.id">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
 		
 		<div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h1 class="panel-title">Calendário do Projeto</h1>
			</div>
			<div class="panel-body">
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<div class="col-md-3">
						<label for="calendarioSelecionado">Calendário Base</label>
						<select class="form-control" id="calendarioSelecionado" name="calendarioSelecionado" ng-model="calendarioSelecionado" ng-options="c as c.nome for c in calendariosDisponiveis" ng-disabled="mode === 'UPDATE' && project.iniciado">
							<option value="">Selecione um calendário</option>
						</select>
					</div>
					<button class="btn btn-default m-t-25" ng-click="adicionarCalendarioBase()"><i class="fa fa-angle-double-right" ng-disabled="mode === 'UPDATE' && project.iniciado"></i></button>
				</div>
				<div class="form-group m-t-25 col-md-12 p-l-0" valdr-form-group>
					<label>Dias Trabalháveis</label>
					<div class="checkbox check-success checkbox-circle">
						<input type="checkbox" id="segundaFeira" name="segundaFeira" ng-model="project.calendario.segundaFeira" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="segundaFeira">Segunda-Feira</label>
						<input type="checkbox" id="tercaFeira" name="tercaFeira" ng-model="project.calendario.tercaFeira" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="tercaFeira">Terça-Feira</label>
						<input type="checkbox" id="quartaFeira" name="quartaFeira" ng-model="project.calendario.quartaFeira" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="quartaFeira">Quarta-Feira</label>
						<input type="checkbox" id="quintaFeira" name="quintaFeira" ng-model="project.calendario.quintaFeira" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="quintaFeira">Quinta-Feira</label>
						<input type="checkbox" id="sextaFeira" name="sextaFeira" ng-model="project.calendario.sextaFeira" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="sextaFeira">Sexta-Feira</label>
						<input type="checkbox" id="sabado" name="sabado" ng-model="project.calendario.sabado" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="sabado">S&aacute;bado</label>
						<input type="checkbox" id="domingo" name="domingo" ng-model="project.calendario.domingo" ng-disabled="mode === 'UPDATE' && project.iniciado"/><label for="domingo">Domingo</label>
					</div>
				</div>
	
				<label class="m-t-15">Eventos do Projeto</label>
				<div class="pull-right">
					<div class="col-xs-12">
						<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#event-modal" ng-disabled="mode === 'UPDATE' && project.iniciado"><i class="fa fa-plus"></i> Novo Evento</button>
					</div>
				</div>
				<table class="table table-condensed">
					<tr>
				    	<th>Evento</th>
				    	<th>Data Início</th>
				    	<th>Data Fim</th>
				    	<th>Remover</th>
				  	</tr>
					<tr ng-repeat="e in project.calendario.eventos">
						<td class="assignment-table">{{e.nome}}</td>
						<td class="assignment-table">{{e.dataInicio | date : 'dd/MM/yyyy'}}</td>
						<td class="assignment-table">{{e.dataFim | date : 'dd/MM/yyyy'}}</td>
						<td class="assignment-table">
							<button class="btn btn-danger" ng-click="removerEvento(e)" ng-disabled="mode === 'UPDATE' && project.iniciado">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
 		
 		<div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h1 class="panel-title">Atividades</h1>
			</div>
			<div class="panel-body">
				<div class="pull-right">
					<div class="col-xs-12" style="margin-bottom: 17px;">
						<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#atividade-modal" ng-click="novaAtividade()"><i class="fa fa-plus"></i> Nova Atividade</button>
					</div>
				</div>
				<table class="table table-condensed">
					<tr>
						<th>Nome</th>
						<th>Alocado para</th>
						<th>Quantidade de horas</th>
						<th>Data Início</th>
						<th>Data Fim</th>
						<th ng-if="project.iniciado">Situação</th>
						<th ng-if="!project.iniciado">Remover</th>
						<th ng-if="project.iniciado">Anular</th>
						<th ng-if="project.iniciado">Depreciar</th>
					</tr>
					<tr ng-repeat="a in project.atividades">
						<td class="assignment-table">{{a.nome}}</td>
						<td class="assignment-table">{{a.alocacoes[0].colaborador.email}}</td>
						<td class="assignment-table">{{a.estimativa}}</td>
						<td class="assignment-table">{{a.dataInicio | date : 'dd/MM/yyyy'}}</td>
						<td class="assignment-table">{{a.dataFim | date : 'dd/MM/yyyy'}}</td>
						<td class="assignment-table" ng-if="project.iniciado">{{a.situacaoAsString}}</td>
						<td class="assignment-table" ng-if="!project.iniciado">
							<button class="btn btn-danger" ng-click="removerAtividade(a)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
						<td class="assignment-table" ng-if="project.iniciado">
							<button class="btn btn-danger" ng-click="anularAtividade(a)" ng-if="a.situacao == 'PENDENTE'">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
						<td class="assignment-table" ng-if="project.iniciado && a.id">
							<button class="btn btn-danger" ng-click="depreciarAtividade(a)" data-toggle="modal" data-target="#atividade-modal" ng-if="a.situacao == 'PENDENTE'">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
 		
 		<div>
 			<div class="pull-left">
	 			<botao-cancelar-voltar mostrar-cancelar="'true'"></botao-cancelar-voltar>
	 		</div>
	 		
	 		<div class="pull-right">
	 			<button class="btn btn-primary btn-animated from-left" ng-click="salvar()">
					<span><i class="fa fa-save m-r-5"></i>Salvar</span>
				</button>
	 		</div>
 		</div>
 		
	</form>
	</div>
	<centro-de-custo-modal></centro-de-custo-modal>
	<event-modal></event-modal>
	<atividade-modal></atividade-modal>
</div>
