<div class="modal fade" id="cadastro-modal" ng-controller="CadastroModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cadastro</h4>
      </div>
      <div class="modal-body">
      		<h4>Preencha o formulário para receber notificações mensais sobre criminalidade</h4>
      		<form name="forumForm" novalidate>
 			<div class="row">
                <div class="col-md-6">
                	<div>
	                    <label for="email">Nome:</label>
	                    <input type="text" class="form-control" ng-model="usuario.nome" id="email" name="email">
					</div>
                </div>
                <div class="col-md-6">
                	<div>
	                    <label for="email">Sobrenome:</label>
	                    <input type="text" class="form-control" ng-model="usuario.sobrenome" id="email" name="email">
					</div>
                </div>
		    </div>
 			<div class="row">
                <div class="col-md-6">
                	<div>
	                    <label for="email">E-mail:</label>
	                    <input type="text" class="form-control" ng-model="usuario.email" id="email" name="email">
					</div>
                </div>
                <div class="col-md-6">
                	<div>
	                    <label for="email">CEP:</label>
	                    <input type="text" class="form-control" ng-model="usuario.residencia.cep" id="email" name="email">
					</div>
                </div>
		    </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" type="submit" ng-click="cadastrar()">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->